
/*
.chat{
    margin-top: 250px;
}

.chat img{
    width: 40%;
}
.btnBack{
    margin-right: 270px;
}
.coverCard{
    cursor: pointer;
}
.coverCard:hover{
    border: 0.1px solid blue;
    background-color: #f7faff;
}
*/



