@media (max-width: 767.98px) { .border-sm-start-none { border-left: none !important; } }

footer{
    padding: 16px 10px;
    background-color:black;
    text-align: center;
   font-size: 15px;
    color:white
}